<h1>A Todo App - Filtering</h1>
<input type="text" class="input-block-level create-task" />
<nav>
	<ul class="unstyled clearfix filters">
		<li><button class="btn btn-link" data-completed-filter="">Show All</button></li>
		<li><button class="btn btn-link" data-completed-filter="false">Active</button></li>
		<li><button class="btn btn-link" data-completed-filter="true">Completed</button></li>
	</ul>
</nav>
<% if (tasks && tasks.length) { %>
	<ul class="task-list unstyled">
		<% _.each(tasks, function (task) { %>
			<li class="<%- task.complete ? 'complete' : '' %>" data-task-id="<%-task.id%>">
				<label class="checkbox">
					<input type="checkbox" class="complete-task" <%- task.complete ? 'checked disabled' : '' %>/>
					<%-task.description%>
				</label>
			</li>
		<% }); %>
	</ul>
<% } else { %>
	<em>Sorry, to tasks found!</em>
<% } %>